<div class="section">
  <h2>Login</h2>
  <form action="/login" method="post" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="user_email">Email:</label>
      <div class="controls">
        <input type="text" id="user_email" name="email"><br>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="user_password">Password:</label>
      <div class="controls">
        <input type="password" id="user_password" name="password"><br>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit">Login</button><br>
      </div>
      <small><a href="/signup">Sign Up</a></small><br>
    </div>
  </form>
</div>
