        <div class="section-row">
          <div class="section">
            <div class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="credentials_email">Email:</label>
                <div class="controls">
                  <input type="text" id="credentials_email" ng-model="credentials.email">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="credentials_password">Password:</label>
                <div class="controls">
                  <input type="password" id="credentials_password" ng-model="credentials.password">
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <input type="submit" class="btn btn-primary" value="Login" ng-click="login()">
                </div>
              </div>
            </div>
          </div>
        </div>
