        <div class="section-row">
          <div class="section">
            <h1>Register</h1>
            <form class="pure-form pure-form-aligned" ng-submit="register()">
              <fieldset>
                <div class="pure-control-group">
                  <label for="credentials_email">Username:</label>
                  <input type="text" id="credentials_email" ng-model="user.username">
                </div>
                <div class="pure-control-group">
                  <label for="credentials_email">Email:</label>
                  <input type="text" id="credentials_email" ng-model="user.email">
                </div>
                <div class="pure-control-group">
                  <label for="credentials_password">Password:</label>
                  <input type="password" id="credentials_password" ng-model="user.password">
                </div>
                <div class="pure-control-group">
                  <label for="credentials_password_confirm">Confirmation:</label>
                  <input type="password" id="credentials_password_confirm" ng-model="user.password_confirmation">
                </div>
                <div class="pure-controls">
                  <input type="submit" class="pure-button pure-button-primary" value="Register">
                </div>
              </fieldset>
            </form>
          </div>
        </div>

