        <div class="section-row">
          <div class="section">
            <h1>Register</h1>
            <form class="pure-form pure-form-stacked form-center" ng-submit="register()">
              <fieldset>
                <input type="text" placeholder="Username" ng-model="user.username">
                <input type="text" placeholder="Email" ng-model="user.email">
                <input type="password" placeholder="Password" ng-model="user.password">
                <input type="password" placeholder="Confirmation" ng-model="user.password_confirmation">
                <input type="submit" class="pure-button pure-button-primary" value="Register">
              </fieldset>
            </form>
          </div>
        </div>

