
        <div class="section-row">
          <div class="section">
            <h1>About Me</h1>
            <ul>
              <li>
              <h3>Location:</h3>
              Boston, MA
              </li>
              <li>
              <h3>Current Position:</h3>
              Lead Developer at Northeastern ResNet
              </li>
              <li>
              <h3>Previous Positions:</h3>
              Robotics SEng. Coop at QinetiQ-NA TSG UM
              </li>
              <li>
              <h3>Education:</h3>
              Northeastern University, 2015
              </li>
              <li>
              <h3>Web Languages:</h3>
              Django Framework, HTML, CSS, Javascript, PHP, Ruby on Rails
              </li>
              <li>
              <h3>Other Languages:</h3>
              Python, Cocoa, Racket/Clojure/Lisp, Haskell, MATLAB, C++, SQL, Java
              </li>
            </ul>
          </div>
          <div class="section">
            <h1>Projects or Contributions</h1>
            <ul>
              <li><h3>ResNet Dashboard</h3>Python and Django</li>
              <li><h3>ResNet Backup System</h3>Python, Django and GTK+</li>
              <li><h3><a href="http://www.github.com/nahiluhmot/specl/" target="_blank">SpeCL</a></h3>Common Lisp</li>
              <li><h3><a href="http://www.github.com/jaor/xmobar/ target="_blank"">xmobar</a></h3>Haskell</li>
              <li><h3><a href="http://www.github.com/fosskers/aura/" target="_blank">aura</a></h3>Haskell</li>
            </ul>
          </div>
        </div>
        <div class="section-row">
          <div ng-view class="feeds-section" ng-app="feeds_module">
          </div>
        </div>
        <script type="text/javascript" src="/js/date_parser.js"></script>
        <script type="text/javascript" src="/js/feeds_module.js"></script>
