
        <div class="section-row">
          <div class="section">
            <h2>About Me</h2>
            <ul>
              <li>
              <h3>Location:</h3>
              Boston, MA
              </li>
              <li>
              <h3>Current Position:</h3>
              Lead Developer at Northeastern ResNet
              </li>
              <li>
              <h3>Previous Positions:</h3>
              Robotics SEng. Coop at QinetiQ-NA TSG UM
              </li>
              <li>
              <h3>Education:</h3>
              Northeastern University, 2015
              </li>
              <li>
              <h3>Web Languages:</h3>
              Django Framework, HTML, CSS, Javascript, PHP, Ruby on Rails
              </li>
              <li>
              <h3>Other Languages:</h3>
              Python, Cocoa, Racket/Clojure/Lisp, Haskell, MATLAB, C++, SQL, Java
              </li>
            </ul>
          </div>
          <div class="section">
            <h2>Projects or Contributions</h2>
            <ul>
              <li><h3>ResNet Dashboard</h3>Python and Django</li>
              <li><h3>ResNet Backup System</h3>Python, Django and GTK+</li>
              <li><h3><a href="http://www.github.com/nahiluhmot/specl/">SpeCL</a></h3>Common Lisp</li>
              <li><h3><a href="http://www.github.com/jaor/xmobar/">xmobar</a></h3>Haskell</li>
              <li><h3><a href="http://www.github.com/fosskers/aura/">aura</a></h3>Haskell</li>
            </ul>
          </div>
        </div>
        <div class="row">

        </div>
