[Unit]
Description=Foreman
After=syslog.target

[Service]
User=tlunter
WorkingDirectory=/home/tlunter/Home/Projects/Ruby/tlunter.com
ExecStart=/usr/bin/zsh -lc 'RACK_ENV=production rbenv exec bundle exec foreman start'
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
KillMode=process

[Install]
WantedBy=multi-user.target
