        <div class="section-row">
          <div class="section">
            <h1>About Me</h1>
            <ul>
              <li>
                <h3>Location:</h3>
                Boston, MA
              </li>
              <li>
                <h3>Current Position:</h3>
                Software Engineer Intern at <a href="http://www.swipely.com" target="_blank">Swipely, Inc.</a>
              </li>
              <li>
                <h3>Previous Positions:</h3>
                Lead Developer
                at Northeastern ResNet<br>
                Robotics Software Engineer Coop
                at <a href="https://www.qinetiq-na.com/products/unmanned-systems/" target="_blank">QinetiQ-NA Techonology Solutions Group Unmanned Systems</a>
              </li>
              <li>
                <h3>Education:</h3>
                Computer Engineering with Computer Science Minor<br>
                Northeastern University, 2015
              </li>
              <li>
                <h3>Web Languages:</h3>
                Ruby on Rails/Sinatra/Grape, Django Framework, HTML, CSS, Javascript, PHP
              </li>
              <li>
                <h3>Other Languages:</h3>
                Ruby, Python, Cocoa, Racket/Clojure/Lisp, Haskell, MATLAB, C++, SQL, Java
              </li>
            </ul>
          </div>
        </div>
