        <div class="section-row">
          <div class="section">
            <h1>Contributions</h1>
            <ul>
              <li><h3>ResNet Dashboard</h3>Python and Django</li>
              <li><h3>ResNet Backup System</h3>Python, Django and GTK+</li>
              <li><h3><a href="http://www.github.com/nahiluhmot/specl/" target="_blank">SpeCL</a></h3>Common Lisp</li>
              <li><h3><a href="http://www.github.com/jaor/xmobar/" target="_blank">xmobar</a></h3>Haskell</li>
              <li><h3><a href="http://www.github.com/fosskers/aura/" target="_blank">aura</a></h3>Haskell</li>
              <li><h3><a href="http://www.github.com/geemus/excon/" target="_blank">Excon</a></h3>Ruby</li>
              <li><h3><a href="http://www.github.com/swipely/docker-api/" target="_blank">docker-api</a></h3>Ruby</li>
            </ul>
          </div>
        </div>

