<div class="section-row">
  <div class="post-section">
    <div class="post" ng-show="post">
      <p class="clearfix">
        <span ng-show="post.previous" style="float:left;">
          <a ng-href="/posts/{{ post.previous }}">Previous</a>
        </span>
        <span ng-show="post.next" style="float:right;">
          <a ng-href="/posts/{{ post.next }}">Next</a>
        </span>
      </p>
      <h1 class="title">{{ post.title }}</h1>
      <p><small>posted on {{ post.date }}</small></p>
      <div class="body" ng-bind-html-unsafe="post.body"></div>
      <p>&nbsp;</p>
      <span style="font-weight: bold;">Comments:</span>
      <div class="comments">
        <ul ng-repeat="comment in comments">
          <li>
            <p id="comment-{{ comment.id }}">{{ comment.email }} says:</p>
            <p ng-bind-html-unsafe="comment.body"></p>
            <p><small>at {{ comment.date }}</small></p>
          </li>
        </ul>
        <div class="comment-scroll" ng-show="comments"></div>
        <p ng-hide="comments">No comments yet!</p>
      </div>
      <form name="comments_form" class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="comment_email">Email:</label>
          <div class="controls">
            <input id="comment_email" name="comment_email" ng-model="comment_email" type="text" required>
          </div>
          <span class="help-inline" ng-show="comments_form.comment_email.$error.required">* Required</span>
        </div>
        <div class="control-group">
          <label class="control-label" for="comment_body">Comment:</label>
          <div class="controls">
            <textarea id="comment_body" name="comment_body" ng-model="comment_body" class="comment" required></textarea>
          </div>
          <span class="help-inline pull-right">Supports Markdown</span>
          <span class="help-inline" ng-show="comments_form.comment_body.$error.required">* Required</span>
        </div>
        <div class="control-group">
          <div class="controls">
            <input name="comment" value="Comment" type="submit" class="btn" ng-click="postComment()">
          </div>
        </div>
      </form>
      <span ng-show="post.previous" style="float:left;">
        <a ng-href="/posts/{{ post.previous }}">Previous</a>
      </span>
      <span ng-show="post.next" style="float:right;">
        <a ng-href="/posts/{{ post.next }}">Next</a>
      </span>
    </div>
    <div ng-hide="post">
      <div style="text-align: center;">
        It looks like I'm lazy and haven't posted anything yet!
      </div>
    </div>
  </div>
</div>
