<div class="post" ng-show="post">
  <h1 class="title">{{ post.title }}</h1>
  <p><small>posted on {{ post.date }}</small></p>
  <div class="body" ng-bind-html-unsafe="post.body"></div>
  <span ng-show="previous" style="float:left;">
    <a ng-href="/posts/i/{{ previous.link }}">Previous</a>
  </span>
  <span ng-show="next" style="float:right;">
    <a ng-href="/posts/i/{{ next.link }}">Next</a>
  </span>
</div>
<div ng-hide="post">
  <div style="text-align: center;">
    It looks like I'm lazy and haven't posted anything yet!
  </div>
</div>
