<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>tLunter.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="fragment" content="!">
    <%= oboe_rum_header rescue '' %>
    <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500|Open+Sans:400,600|Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="/css/pure.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/tlunter.com.min.css">
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/tlunter.com.min.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="AppController">
      <header>
        <a ng-href="/">Todd Lunter</a>
      </header>
      <div id="body">
        <div class="nav">
          <ul class="nav">
            <li>
            </li>
            <li>
              <a ng-href="/">Home</a>
            </li>
            <li>
              <a ng-href="/about">About</a>
            </li>
            <li>
              <a ng-href="/contributions">Contributions</a>
            </li>
            <li ng-show="isAuthenticated()">
              <a ng-href="/logout">Logout</a>
            </li>
            <li ng-hide="isAuthenticated()">
              <a ng-href="/login">Login</a>
            </li>
            <li ng-hide="isAuthenticated()">
              <a ng-href="/register">Register</a>
            </li>
          </ul>
        </div>
        <div id="content" ng-controller="MainController">
          <div ng-repeat="flash in notices">
            <div class="alert alert-success" ng-class="{in: !flash.toRemove}">
              <button type="button" class="close" ng-click="removeNotice(flash.id)" data-dismiss="alert">&times;</button>
              <strong>Well done!</strong> {{ flash.text }}
            </div>
          </div>
          <div ng-repeat="flash in errors">
            <div class="alert alert-error" ng-class="{in: !flash.toRemove}">
              <button type="button" class="close" ng-click="removeError(flash.id)" data-dismiss="alert">&times;</button>
              <strong>Oh no!</strong> {{ flash.text }}
            </div>
          </div>
          <div ng-view>
          </div>
          <footer>
            <ul>
              <li>
                <a href="mailto:tlunter@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
              </li>
              <li>
                <a href="https://github.com/tlunter"><i class="fa fa-github"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/tlunter"><i class="fa fa-twitter"></i></a>
              </li>
            </ul>
            <div class="copyright">
              Copyright &copy; Todd Lunter.
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49696636-1', 'tlunter.com');
      ga('send', 'pageview');

    </script>
    <%= oboe_rum_footer rescue '' %>
  </body>
</html>

