<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>tLunter.com</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta name="fragment" content="!">
    <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500|Open+Sans:300,400,600|Playball" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/tlunter.com.min.css" >
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/angular.js"></script>
    <script type="text/javascript" src="/js/tlunter.com.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        Todd Lunter
      </header>
    </div>
    <div class="container" ng-controller="AppController">
      <div id="body">
        <div id="nav">
          <ul class="nav">
            <li>
              <a ng-href="/">Home</a>
            </li>
            <li>
              <a ng-href="/about">About</a>
            </li>
            <li>
              <a ng-href="/contributions">Contributions</a>
            </li>
            <li>
              <a href="mailto:tlunter@gmail.com" target="_blank">E-mail</a>
            </li>
            <li>
              <a href="https://github.com/tlunter">GitHub</a>
            </li>
            <li>
              <a href="https://twitter.com/tlunter">Twitter</a>
            </li>
            <li ng-show="isAuthenticated()">
              <a ng-href="/logout">Logout</a>
            </li>
            <li ng-hide="isAuthenticated()">
              <a ng-href="/login">Login</a>
            </li>
            <li ng-hide="isAuthenticated()">
              <a ng-href="/register">Register</a>
            </li>
          </ul>
          <div class="copyright">
            Copyright &copy; Todd Lunter.
          </div>
        </div>
        <div id="content" ng-controller="MainController">
          <div ng-repeat="flash in notices">
            <div class="alert alert-success fade" ng-class="{in: !flash.toRemove}">
              <a href="#" class="close" ng-click="removeNotice(flash.id)" data-dismiss="alert">&times;</a>
              <strong>Well done!</strong> {{ flash.text }}
            </div>
          </div>
          <div ng-repeat="flash in errors">
            <div class="alert alert-error fade" ng-class="{in: !flash.toRemove}">
              <a href="#" class="close" ng-click="removeError(flash.id)" data-dismiss="alert">&times;</a>
              <strong>Oh no!</strong> {{ flash.text }}
            </div>
          </div>
          <div ng-view>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

