<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>tLunter.com</title>
    <meta name="viewport" content="width=device-width">
    <meta name="fragment" content="!">
    <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500|Open+Sans:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/tlunter.com.min.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/angular.js"></script>
    <script type="text/javascript" src="/js/tlunter.com.js"></script>
  </head>
  <body>
    <div id="container" ng-controller="AppController">
      <div id="nav">
        <div class="center-nav">
          <ul class="nav">
            <li>
              <span class="icon-3x icon-stack">
                <i class="icon-check-empty icon-stack-base"></i>
                <a ng-href="/">
                  <i class="icon-home"></i>
                </a>
              </span>
            </li>
            <li>
              <span class="icon-3x icon-stack">
                <i class="icon-check-empty icon-stack-base"></i>
                <a ng-href="/about">
                  <i class="icon-info"></i>
                </a>
              </span>
            </li>
            <li ng-show="isAuthenticated()">
              <span class="icon-3x icon-stack">
                <i class="icon-check-empty icon-stack-base"></i>
                <a ng-href="/logout">
                  <i class="icon-signout"></i>
                </a>
              </span>
            </li>
            <li ng-hide="isAuthenticated()">
              <span class="icon-3x icon-stack">
                <i class="icon-check-empty icon-stack-base"></i>
                <a ng-href="/login">
                  <i class="icon-signin"></i>
                </a>
              </span>
            </li>
            <li>
              <span class="icon-3x icon-stack">
                <i class="icon-check-empty icon-stack-base"></i>
                <a href="http://www.github.com/tlunter" target="_blank">
                  <i class="icon-github"></i>
                </a>
              </span>
            </li>
            <li>
              <span class="icon-3x icon-stack">
                <i class="icon-check-empty icon-stack-base"></i>
                <a href="http://www.twitter.com/tlunter" target="_blank">
                  <i class="icon-twitter"></i>
                </a>
              </span>
            </li>
            <li>
              <span class="icon-3x icon-stack">
                <i class="icon-check-empty icon-stack-base"></i>
                <a href="mailto:tlunter@gmail.com" target="_blank">
                  <i class="icon-envelope"></i>
                </a>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div id="content">
        <div id="content-container" ng-controller="MainController">
          <div class="alert alert-success fade in" ng-repeat="flash in notices">
            <a href="#" class="close" ng-click="removeNotice(flash.id)" data-dismiss="alert">&times;</a>
            <strong>Well done!</strong>{{ flash.text }}
          </div>
          <div class="alert alert-error fade in" ng-repeat="flash in errors">
            <a href="#" class="close" ng-click="removeError(flash.id)" data-dismiss="alert">&times;</a>
            <strong>Oh no!</strong> {{ flash.text }}
          </div>
          <div ng-view>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
