<div class="section-row">
  <div class="section">
    <div class="post-form pure-form pure-form-stacked" ng-submit="save()">
      <fieldset>
        <input type="text" placeholder="Title" ng-model="post.title">
        <textarea type="text" class="body" placeholder="Body" ng-model="post.body"></textarea>
        <label for="published">
          <input type="checkbox" id="published" ng-model="post.published"> Published?
        </label>
        <button type="submit" class="pure-button pure-button-primary" ng-click="save()">Save</button>
      </fieldset>
    </div>
  </div>
</div>
