<div class="section-row">
  <div class="post-section">
    <div class="post" ng-show="post">
      <p class="clearfix">
        <span ng-show="post.previous" style="float:left;">
          <a ng-href="/posts/{{ post.previous }}">Previous</a>
        </span>
        <span ng-show="post.next" style="float:right;">
          <a ng-href="/posts/{{ post.next }}">Next</a>
        </span>
      </p>
      <h1 class="title">{{ post.title }}</h1>
      <p><small>posted on {{ post.updated_at }}</small></p>
      <div class="body" ng-bind-html="post.body"></div>
      <p>&nbsp;</p>
      <span style="font-weight: bold;">Comments:</span>
      <ng-include src="'/partials/comments/inline_index.html'"></ng-include>
      <ng-include ng-show="user" src="'/partials/comments/inline_form.html'"></ng-include>
      <span ng-show="post.previous" style="float:left;">
        <a ng-href="/posts/{{ post.previous }}">Previous</a>
      </span>
      <span ng-show="post.next" style="float:right;">
        <a ng-href="/posts/{{ post.next }}">Next</a>
      </span>
    </div>
    <div ng-hide="post">
      <div style="text-align: center;">
        This seems like a bad post link! Try <a ng-href="/posts/latest">these</a> instead?
      </div>
    </div>
  </div>
</div>

