.post {
  text-align: left;

  /* smartphones, iPhone, portrait 480x320 phones */
  @media (min-width:0px) {
    margin: 30px 0;
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  @media (min-width:961px) {
    margin: 0;
  }

  .title {
    display: inline-block;
  }

  h1, h2, h3 {
    margin: 10px 0;
  }

  ul.post-data {
    list-style: none;

    > li {
      /* smartphones, iPhone, portrait 480x320 phones */
      @media (min-width:0px) {
        display: block;
      }
      /* tablet, landscape iPad, lo-res laptops ands desktops */
      @media (min-width:961px) {
        display: inline-block;
      }
    }
  }

  .body {
    h1, h2, h3 {
      margin: 30px 0 0 0;
    }

    ol {
      padding: 0 0 0 30px;
    }

    p {
      line-height: 45px;
      font-size: 22px;
      padding: 15px 0;
    }

    pre > code {
      margin: 0 30px 0 0;
      padding: 10px;

      display: block;
    }

    code {
      border-radius: 5px;
      border: 1px solid transparent;

      background: #dcdde0;
    }
  }
}

.post-form {
  width: 75%;
  .body {
    width: 900px;
    height: 500px;
  }
}
