@header-text-color: #0b8ea1;

@content-border-color: #708388;
@content-font: "Open Sans";
@content-text-color: #222222;
@content-text-shadow-color: #eeeeee;
@content-background-color: #d7d7d7;

@page-background-color: #3f3f3f;

@nav-background-color: #b6bdc0;
@nav-link-hover-color: #d1e751;

@nav-item-link-color: #191919;
@nav-item-background-color: #e4e6e7;
@nav-item-border-color: #708388;
@nav-item-hover-background-color: #f7f7f7;

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {
}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
}
/* hi-res laptops and desktops */
@media (min-width:1281px) {
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;

  background: @page-background-color;
  color: @content-text-color;
}

div {
  padding: 0;
  margin: 0;
}

table {
  td, th {
    padding: 5px;
  }
}

a {
  color: #0b8ea1;
}

.container {
  font-family: @content-font;
  font-weight: 400;

  width: 900px;
  margin: 0 auto;
}

#body {
  min-height: 480px;
  position: relative;
}

header {
  font-family: Georgia, serif;
  font-size: 36px;
  line-height: normal;

  margin: 25px 0 15px 10px;

  color: @header-text-color;
}

#nav {
  width: 264px;
  margin: 0;

  border: 0;

  color: #fff;
  background: @nav-background-color;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  @media (min-width:0px) {
  }
  /* smartphones, iPhone, portrait 480x320 phones */
  @media (min-width:320px) {
  }
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  @media (min-width:481px) {
  }
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  @media (min-width:641px) {
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  @media (min-width:961px) {
  }
  /* big landscape tablets, laptops, and desktops */
  @media (min-width:1025px) {
  }
  /* hi-res laptops and desktops */
  @media (min-width:1281px) {
  }

  ul.nav {
    list-style: none;

    @media (min-height:769px) {
      /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
      @media (min-width:481px) {
      }
    }

    li > a {
      font-size: 18px;

      color: @nav-item-link-color;

      margin: 15px 0 15px 0;
      padding: 10px;

      background-color: @nav-item-background-color;
      border-top: 1px solid @nav-item-border-color;
      border-bottom: 1px solid @nav-item-border-color;

      &:hover {
        background-color: @nav-item-hover-background-color;
      }
    }
  }
  div.copyright {
    font-size: 10px;

    bottom: 10px;
    position: absolute;

    width: 100%;
    text-align: center;

    @media (min-height:0px) {
    }
    @media (min-height:769px) {
      /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
      @media (min-width:481px) {
      }
    }
  }
}

#content {
  padding: 5px;
  margin: 0 0 0 264px;

  text-shadow: 0 2px @content-text-shadow-color;
  text-align: center;

  border-left: 1px solid @content-border-color;

  background-color: @content-background-color;
  min-height: 480px;

  @media (min-width:0px) {
  }
  /* smartphones, iPhone, portrait 480x320 phones */
  @media (min-width:320px) {
  }
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  @media (min-width:481px) {
  }
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  @media (min-width:641px) {
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  @media (min-width:961px) {
  }
  /* big landscape tablets, laptops, and desktops */
  @media (min-width:1025px) {
  }
  /* hi-res laptops and desktops */
  @media (min-width:1281px) {
  }
}

h1 {
  font-size: 28px;
  line-height: 30px;
  margin: 0 0 20px 0;

  a,
  a:hover {
    color: @content-text-color;
    text-decoration: underline;
  }
}

h2 {
  font-size: 22px;
  line-height: 30px;
  margin: 10px 0 0 0;
}

h3 {
  font-size: 18px;
  line-height: 18px;
}

.form-horizontal {
  .control-label {
    width: 100px;
    text-align: left;
    float: none;
  }

  .control-group {
    .controls {
      margin-left: 0;

      textarea {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 250px;

        &.comment {
          height: 100px;
        }
      }
    }
  }
}

.alert {
  text-align: left;
}
