//@page-background-color: #3f3f3f;
@page-background-color: #ffffff;

@header-text-color: #0b8ea1;

@content-border-color: #708388;
@content-font: "Open Sans";
@content-text-color: #222222;
@content-text-shadow-color: #eeeeee;
//@content-background-color: #d7d7d7;
@content-background-color: @page-background-color;


//@nav-background-color: #b6bdc0;
@nav-background-color: @page-background-color;
@nav-item-link-color: #191919;
//@nav-item-background-color: #e4e6e7;
@nav-item-background-color: @page-background-color;
@nav-item-border-color: #c6cdcf;
@nav-item-hover-background-color: #f7f7f7;

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {
}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
}
/* hi-res laptops and desktops */
@media (min-width:1281px) {
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;

  background: @page-background-color;
  color: @content-text-color;

  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

div, ul {
  padding: 0;
  margin: 0;
}

a {
  color: #0b8ea1;
}

p {
  margin: 0 0 10px;
}

div.container {
  font-family: @content-font;
  font-weight: 400;

  margin: 0 auto;

  @media (min-width:0px) {
    width: 100%;
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  @media (min-width:961px) {
    width: 900px;
  }
}

div#body {
  position: relative;
}

header {
  width: 100%;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 36px;
  line-height: normal;

  margin: 15px 0 15px 0;

  color: @header-text-color;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

div.nav {
  width: 100%;
  text-align: center;

  border: 0;

  color: #fff;
  background: @nav-background-color;

  ul.nav {
    list-style: none;

    > li {
      /* smartphones, iPhone, portrait 480x320 phones */
      @media (min-width:0px) {
        display: block;
      }
      /* tablet, landscape iPad, lo-res laptops ands desktops */
      @media (min-width:961px) {
        display: inline-block;
      }

      > a {
        color: @nav-item-link-color;

        border-style: solid;
        border-color: @nav-item-border-color;

        background-color: @nav-item-background-color;

        display: block;
        text-decoration: none;

        font-size: 18px;
        line-height: 26px;

        margin: 15px 0 15px 0;
        padding: 5px;

        border-width: 1px 0;

        &:hover {
          background-color: @nav-item-hover-background-color;
        }
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}

div#content {
  padding: 5px;

  text-shadow: 0 2px @content-text-shadow-color;

  background-color: @content-background-color;
}

footer {
  text-align: center;

  ul {
    list-style: none;

    & > li {
      display: inline-block;
    }
  }

  div.copyright {
    color: #000;
    font-size: 10px;

    width: 100%;
  }
}

h1 {
  font-size: 28px;
  line-height: 30px;
  margin: 0 0 20px 0;

  a,
  a:hover {
    color: @content-text-color;
    text-decoration: underline;
  }
}

h2 {
  font-size: 22px;
  line-height: 30px;
  margin: 10px 0 0 0;
}

h3 {
  font-size: 18px;
  line-height: 18px;
}

.alert {
  padding: 15px 35px 15px 15px;
  border: 1px solid transparent;
  border-radius: 4px;

  text-align: left;

  .close {
    float: right;

    position: relative;

    top: -2px;
    right: -21px;

    font-size: 21px;
    font-weight: bold;
    line-height: 1;

    color: inherit;
    background: transparent;
    opacity: 0.2;
    filter: alpha(opacity=20);

    border: 0;

    cursor: pointer;

    &:hover,
    &:focus {
      color: #000;
      opacity: 0.5;

      cursor: pointer;
    }
  }
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: darken(spin(#dff0d8, -10), 5%);
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: darken(spin(#f2dede, -10), 5%);
}

.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {
  font-size: 1em;
}
